# Virtual Environment & Tools
venv/
.venv/
env/
.git_bin/
mingit.zip
__pycache__/
*.pyc

# Sensitive environment configs
.env

# Temporary storage & media files
temp_storage/
*.mp4
*.mp3
*.mov
*.jpg
*.png
!banner_video_tiktok/IMG_9654.MOV
!bait_soxr/bait.mp4

# Local SQLite databases & Session storage
*.session
*.session-journal
bot_session.session
*.db
*.sqlite
*.sqlite3
tiktok_soft.db

# YouTube Cookies & Credentials
cookies.txt
.env.local
.env.*.local

# OS Artifacts
Thumbs.db
.DS_Store
